// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.
// File name: projects/8/ProgramFlow/BasicLoop/BasicLoop.vm

// Computes the sum 1 + 2 + ... + n and pushes the result onto
// the stack. The value n is given in argument[0], which must be 
// initialized by the caller of this code.
function FMain.main 1
	push constant 1
	pop temp 0
	return

function Main.main 2
	push constant 3
	pop local 0
	push constant 4
	pop local 1
	push constant 10
	call FMain.main 1
	return
